.chat-input-footer {
  padding: 12px 10px 16px;
  /* background: rgba(233, 236, 239, 0.85); */
  backdrop-filter: blur(12px);
  /* border-top: 1px solid rgba(0, 0, 0, 0.06); */
}

.chat-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-input-box {
  flex: 1;
  min-width: 0;
}

.chat-textarea {
  border: 0;
  outline: 0;
  resize: none;
}

.chat-textarea:focus {
  outline: none;
  box-shadow: none;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  transition: none;
}

.chat-inner-btn {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--bs-body-bg);
}

.chat-inner-btn:hover {
  background: var(--bs-secondary-bg);
}

.chat-send-btn {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chat-send-btn.active {
  background: var(--bs-blue);
}

.chat-send-btn.disabled {
  background: transparent;
  cursor: not-allowed;
  opacity: 1;
}

.chat-send-icon {
  transform: translate(-1px, 1px);
}
